﻿@model SupportForum.Models.Form

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    List<SelectListItem> depts = new List<SelectListItem>();
    depts.Add(new SelectListItem { Text = "Computer Sciences", Value = "Computer Sciences" });
    depts.Add(new SelectListItem { Text = "Mathematics", Value = "Mathematics" });
    depts.Add(new SelectListItem { Text = "Engineering", Value = "Engineering" });
    depts.Add(new SelectListItem { Text = "Physics", Value = "Physics" });
    depts.Add(new SelectListItem { Text = "Bioinformatics", Value = "Bioinformatics" });
}

<div class="login-card">
    @using (Html.BeginForm())
    {

        <center><h2>Hi Jeff</h2></center>
        <hr />
        <div class="form-group" style="padding-bottom: 30px;">
            @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @*@Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.To, depts, "Choose a department...", htmlAttributes: new { @class = "form-control", id = "to" })
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", id = "from" } })
                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", id = "subject" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", id = "message" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" id="submit-button" name="submit-button" value="Submit" class="btn btn-primary" data-toggle="modal" data-target=".bootstrapmodal" style="color: white;" >
                @*<a class="btn btn-primary" href="@Html.Action("Index","Home",new { form=Model})" data-toggle="modal" data-target=".bootstrapmodal" id="submit-button" style="color: white;">Submit</a>*@
            </div>
            @*<a href="~/Views/Home/compare.cshtml">~/Views/Home/compare.cshtml</a>*@
            <div class="col-md-6">
                <input type="reset" value="Reset" class="btn btn-primary" />
            </div>
        </div>

    }

    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Details
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>To: </td>
                            <td class="to-body"></td>
                        </tr>
                        <tr>
                            <td>From: </td>
                            <td class="from-body"></td>
                        </tr>
                        <tr>
                            <td>Subject: </td>
                            <td class="subject-body"></td>
                        </tr>
                        <tr>
                            <td>Message: </td>
                            <td class="message-body"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" value="Send" class="btn btn-primary" style="display:inline;">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" style="display:inline;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function () {
        
			$('#submit-button').click(function(){
				var to = $('#to').val();
				var from = $('#from').val();
				var subject = $('#subject').val();
				var message = $('#message').val();

				$('.to-body').html(to);
				//$('.to-body').attr("value",to);
				$('.from-body').html(from);
				//$('.from-body').attr("value",from);
				$('.subject-body').html(subject);
				//$('.subject-body').attr("value",subject);
				$('.message-body').html(message);
				//$('.message-body').attr("value",message);
			});



		});


</script>